
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:ital@1&family=Lobster&family=Rubik:wght@500&family=Teko:wght@500&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
     

}

body{

   margin:0;
   padding: 0;
   
   
   
   
}

.main{

  
    color:white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    text-align: right;
    padding: 11px 11%;
    word-spacing: 1px;
    font-family: 'Lobster', cursive;
    opacity: 80%;

}

a{
    
    
    border: none;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Lobster', cursive;

}

a{
    text-decoration: none;
    color:black;
    color:bold;
    background-color: grey;
}

.main :hover{

    background-color: rgb(36, 33, 33);


}




.logo img{

    position: relative;
    height:90px;
    width:90px;
    padding-top: 5px;
    bottom: 70px;

}



section .doc {
    

    position: absolute;
    width:60%;
    height:70vh;
    left:390px;
    top:10px;
    size:1px;
    background-size:cover;
    background-position: center;
}




.Main{


    height: 50%;
    width:50%;
}

.Body {


        size:50%;

}

.Body h2{

    color:rgb(0, 174, 255);
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    padding-left: 5%;
}

.Body p{

    Color:rgb(0, 4, 255);
    font-size: 1rem;
    padding-left: 5%;
}


.btn{
    
    padding: 17px 1px 10px;
    padding-left: 5%;
}


.Body .Btn{

  
    position: fixed;
    position: relative;
    left:5px;
    background-color:rgb(2, 51, 51);
    color: hsl(190, 50%, 98%);
    font-size: 15px;
    padding: 5px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn :hover{

    
    background-color: red;


}

i{
    position: fixed;
    font-size: 1rem;
    color: white;
    
} 


.btn a{
    
    position: fixed;
    position: relative;
    text-decoration: none;
    padding: 0% 1%;
    left:10px;
    background: none;
    color:black;
}

.information{
    
    
    
}


.box1{
 
  position: absolute;
  margin:0;
  width: 100px;
  height: 20%;
  padding: 200px 12% 0;
  top:95%;
  left:5%;
  border: 1px solid red;
  background-color: gray;


}

.box1 .dc2{
   
    position:absolute; 
    margin:0;
    bottom: 55%;
    right:30%;
    background-image: none;
}

.box1 h4{
    
    position: absolute;
    font-size: 1rem;
    left: 20%;
    top:45%;
      
}
.box1 h5{

    position: absolute;
    font-size: 1rem;
    top:  54%;
    left: 20%;
}

.box1 .gmail{

    position:absolute;
    background: none;
    top: 59%;
    left:17%;
    

}

.box1 .fb{

    position:absolute;
    background: none;
    top:69%;
    left:17%;
}

.box1 .lrn{

    position: absolute;
    top:80%;
    right: 23%;
    color:white;

}


.box1 .lrn:hover{

    background-color: red;
    
    
}

.box1 h6{

    
    position: absolute;
    top:85%;
    right: 57%;
    font-size: 14px;

}






.box2{
 
    position: absolute;
    margin:0;
    width: 100px;
    height: 20%;
    padding: 200px 12% 0;
    top:95%;
    left:38%;
    border: 1px solid red;
    background-color: gray;
  
  
  }
  
  

.box2 .dc1{
   
       
    position:absolute; 
    margin:0;
    bottom: 55%;
    right:30%;
    background-image: none;
}


.box2 h4{
    
    position: absolute;
    font-size: 1rem;
    left: 20%;
    top:45%;
      
}
.box2 h5{

    position: absolute;
    font-size: 1rem;
    top:  54%;
    left: 20%;
}

.box2 .gmail{

    position:absolute;
    background: none;
    top: 59%;
    left:17%;
    

}

.box2 .fb{

    position:absolute;
    background: none;
    top:69%;
    left:17%;
}
.box2.lrn{

    position: absolute;
    top:80%;
    right: 23%;
    color:white;

}


.box2 .lrn:hover{

    background-color: red;
    
    
}

.box2 h6{

    
    position: absolute;
    top:85%;
    right: 57%;
    font-size: 14px;

}



.box2 .lrn{

    position: absolute;
    top:80%;
    right: 23%;
    color:white;

}


.box2 .lrn:hover{

    background-color: red;
    
    
}

.box2 h6{

    
    position: absolute;
    top:85%;
    right: 57%;
    font-size: 14px;

}



.box3 {
 
    position: absolute;
    margin:0;
    width: 100px;
    height: 20%;
    padding: 200px 12% 0;
    top:95%;
    left:70%;
    border: 1px solid red;
    background-color: gray;
  
  
  }

  
  

.box3 .dc3{
   
       
    position:absolute; 
    margin:0;
    bottom: 55%;
    right:30%;
    background-image: none;
}



.box3 h4{
    
    position: absolute;
    font-size: 1rem;
    left: 20%;
    top:45%;
      
}
.box3 h5{

    position: absolute;
    font-size: 1rem;
    top:  54%;
    left: 20%;
}

.box3 .gmail{

    position:absolute;
    background: none;
    top: 59%;
    left:17%;
    

}

.box3 .fb{

    position:absolute;
    background: none;
    top:69%;
    left:17%;
}

.box3 .lrn{

    position: absolute;
    top:80%;
    right: 23%;
    color:white;

}


.box3 .lrn:hover{

    background-color: red;
    
    
}

.box3 h6{

    
    position: absolute;
    top:85%;
    right: 57%;
    font-size: 14px;

}


.footer{
    
    position: absolute;
    background-color: black;
    width: 150vh;
    top:140%;
    color: white;
    text-align: center;
    padding: 30px;
  
}

.company{

    position: absolute;
    left: 10%;
    top:-1%;
  
}
.company .about{

  position: absolute;
  bottom: -150%;
  font-size:16px;
  left:20%;

}
.company .ftr{

    position: absolute;
    bottom: -280%;
    font-size:16px;
    left:20%;
}

.company .fd{
    position: absolute;
    bottom:-400%;
    font-size:12px;
    left:20%;
}
.Contact{

    position: absolute;
    top:-1%;
    left:38%;
    
}

.Contact a{
 
    
  position: absolute;
  bottom: -170%;
  font-size:16px;
  left:-50%;

}

.Contact h5{
  
    
  position: absolute;
  bottom: -300%;
  font-size:16px;
  left:-10%;

}


.Adress{
    
    position: relative;
    top:70%;
    bottom: 90%;
    left:29%;
    
}









